<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="MAX 65 CARATTERI">
    <meta name="description" content="MAX 150 CARATTERI">
    <meta name="author" content="Mang00o, Fabbricca, ElenaaaCh, Pax">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="../static/css/style.css">
  <script defer src="../static/js/main.js"></script>
  <title>Servizi</title>
</head>
<body>
  <header>
    <h1>Servizi</h1>
  </header>
  <nav>
      <a href="#"></a>
          <ul>
            <li><a href="../templates/index.html">Home</a></li>
            <li><a href="../templates/about.html">Chi Siamo</a></li>
            <li><a href="../templates/offers.html">Offerte</a></li>
            <li><a href="../templates/trips.html">Viaggi</a></li>
            <li><a href="../templates/subscriptions.html">Abbonamenti</a></li>
            <li><span>Servizi</span></li>
            <li><a href="../templates/userPage.html">Area personale</a></li>
          </ul>
    </nav>
    <nav id="breadcrumb">
      <p>Ti trovi in: Diversità ed inclusione</p>
    </nav>

    <h2>Convenzioni</h2>
    <p>Di seguito trovate convenzioni per:</p>
    <h3>Hotel & Alloggi</h3>
    <p>Hotel, B&B e alloggi aventi sedi nelle destiazioni</p>
    <form>
      <label for="persone">Numero persone:</label><br>
      <input type="text" id="persone" name="persone" required>
      <br>
      <label for="destinazione">Destinazione:</label><br>
      <input type="text" id="destinazione" name="destinazione" required>
      <br>
      <label for="data_ora_viaggio">Data e Ora dell'arrivo:</label><br>
      <input type="datetime-local" id="data_ora_viaggio" name="data_ora_viaggio" required>
      <br>
      <label for="data_ora_checkout">Fino a:</label><br>
      <input type="datetime-local" id="data_ora_checkout" name="data_ora_checkout" required>
      <br>
      <button type="submit">Cerca hotel</button>
    </form>
    <h3>Noleggio auto</h3>
    <p>Società di noleggio autoveicoli aventi sedi nelle destiazioni</p>
    <form>
      
    </form>
    <h2>A bordo</h2>
    <h3>Bar e Ristorante</h3>
    <p>Cibi e bevande disponibili all'interno dei treni</p>
    <h3>Bagagli</h3>
    <p>Modulo registrazione bagagli</p>
    <form>
      
    </form>
    <h2>Accessibilità</h2>
    <p>Informazioni di accessibilità</p>
    <dl>
      <dt></dt>
        <dd></dd>
    </dl>

    <footer>
      <p>Societa' Viaggi - <span lang="en">All rights reserved.</span></p>
    </footer>
</body>
</html>