<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="MAX 65 CARATTERI">
  	<meta name="description" content="MAX 150 CARATTERI">
  	<meta name="author" content="Mang00o, Fabbricca, ElenaaaCh, Pax">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="">
 	<link rel="stylesheet" href="../static/css/style.css">
 	<script defer src="../static/js/main.js"></script>
	<title>User Page</title>
</head>
<body>
	<header>
		<h1>Area Personale</h1>
	</header>
	<nav>
    	<a href="#"></a>
      		<ul>
        		<li><a href="../templates/index.html">Home</a></li>
        		<li><a href="../templates/about.html">Chi Siamo</a></li>
        		<li><a href="../templates/offers.html">Offerte</a></li>
        		<li><a href="../templates/trips.html">Viaggi</a></li>
        		<li><a href="../templates/subscriptions.html">Abbonamenti</a></li>
        		<li><a href="../templates/diversity_inclusion.html">Diversità ed inclusione</a></li>
        		<li><span>Area personale</span></li>
      		</ul>
  	</nav>
  	<nav id="breadcrumb">
    	<p>Ti trovi in: Area Personale</p>
  	</nav>


  	<footer>
    	<p>Societa' Viaggi - <span lang="en">All rights reserved.</span></p>
  	</footer>
</body>
</html>